<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.duan1">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <queries>
        <package android:name="vn.com.vng.zalopay" />
        <package android:name="vn.com.vng.zalopay.sbmc" />
    </queries>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_huy"
        android:label="H_SHOP"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DuAn1"
        tools:targetApi="31"
        >

        <activity android:screenOrientation="portrait"
            android:name=".activity.ThanhToanActivity"
            android:exported="true"
            android:launchMode="singleTask"
             >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="app"
                    android:scheme="demozpdk2" />
            </intent-filter>
        </activity>

        <activity android:screenOrientation="portrait"
            android:name=".activity.ManHinhRegister"
            android:exported="true" />

        <activity android:screenOrientation="portrait"
            android:name=".activity.ManHinhLogin"
            android:exported="true" />

        <activity android:screenOrientation="portrait"
            android:name=".activity.ManHinhChinh"
            android:exported="true">

        </activity>

        <activity android:screenOrientation="portrait"
            android:name=".activity.ManHinhChinhAdmin"
            android:exported="true" />

        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:screenOrientation="portrait"
            android:name=".activity.GioHangActivity"
            android:exported="true" />
        <activity android:screenOrientation="portrait"
            android:name=".activity.ChiTietSanPhamActivity"
            android:exported="true" />
        <activity android:screenOrientation="portrait"
            android:name=".activity.ChiTietDonHangActivity"
            android:exported="true" />
        <activity android:screenOrientation="portrait"
            android:name=".activity.DoiMatKhauActivity"
            android:exported="true" />
    </application>

</manifest>